.schedule {
  padding: 100px 200px;
}

.schedule-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 380px 380px 380px;

}

.schedule-card {
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 20px;
}

.schedule-index {
  font-size: 16px;
  line-height: 120%;
  color: #EB5757;
}

.schedule-head {
  margin-bottom: 20px;
}

.schedule-header {
  margin-bottom: 50px;
}
