.regform {

}

.regform-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 50px;
  border: 1px solid #333333;
  border-radius: 8px;
  box-shadow: 10px 10px #EB5757;
}

.regform-submit {
  width: 100%;
  margin: 40px auto 20px auto;
}

.regform-input {
  margin-bottom: 20px;
}

.regform-choose {
  display: flex;
  gap: 20px;
}

.regform-option {
  transition: all 0.5s ease-in-out;
}

.option-active {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #EB5757;
}

.regform-bottomtext {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #BDBDBD;
}

.regform-checkbox {
  font-size: 11px;
  line-height: 12px;
}