.footer {
  margin-top: 200px;
  padding: 100px 200px 50px 200px;
  background-color: #282828;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 130px;
  row-gap: 90px;
  color: #F2F2F2;
}

.footer-links {
  border-top: 1px solid #909090;
  grid-column: span 2;
}

.footer-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.footer-form-container {
  display: flex;
  justify-content: space-between;
  gap: 0;
  border: 1px solid #F2F2F2;
}

.footer-form-input:focus {
  background: #282828;
}

.footer-form-input {
  background: #282828;
  width: 100% - 200px;
  border: none;
  border-radius: 0;
  flex-grow: 3;
  padding: 17px 20px;
}

.footer-form-submit {
  border-radius: 0;
  max-width: 200px;
  padding: 17px 20px;
  background: #F2F2F2;
  color: #333333;
  border: none;
}