.news {
  margin-top: 200px;
}

.news-header {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
  margin-bottom: 50px;
}

.newscard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 387px);
  gap: 19px;
  margin-bottom: 30px;
}

.news-btn {
  display: flex;
  justify-content: center;
}